Exercise 1: Create a Jupyter Notebook

Exercise 2: Create markdown cell with title of the notebook

<h1>Data Science Tools and Ecosystem<h1>

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objective

<b>Objectives:</b>
<ul>
    <li>List popular languages that used in Data Scientists </li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comments on Data Science </li>
</ul>

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>TensorFlow.</li>
    <li>Matplotlib.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>

</ol>

Exercise 6 - Create a markdown cell with a table of Data Science tools

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>RStudio</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>TensorFlow</td>
    <td></td>
    <td></td>
  </tr>
</table>

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

Exercise 11 - Create a markdown cell to indicate the Author's name

<h2>Author:</h2> Esraa Meslam